.container{
    margin: auto; 
    height: auto;
    width: 800px;
    font-size: large;
    
}

/* .LIST{
    margin-left: 5px; */
/* } */

#edit-button{
    margin-left: 60px;




}

/* #delete-button{
margin-left: 30px; */


}


